.sticky {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
}

.container {
  position: relative;
  display: flex;
  flex-flow: column;
}

.noDuplicatesHint {
  background: #eee;
  font-size: 26px;
  padding: 12px 24px;
  font-weight: 800;
}
